<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>URL INPUT</title>

  <!-- Favicons -->
  <link href="assets/img/favicon.svg" rel="icon">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>
      <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center color">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/">Fake Review Detector</a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/form">Get Started</a></li>

        </ul>
      </nav>

    </div>
  </header>

    <div class="container-fluid input">
        <div class="row justify-content-center" style="margin-top: 25vh;">
            <div class="col-md-6">
                <form  method="POST" action="/result">
                    <div class="form-group">
                        <label for="link" class="text-center yo">Enter Your Amazon Product URL -:</label>
                        <input type="text" class="form-control" id="link" name="link" placeholder="Paste Product URL">
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    
    <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Fake Review Detector</h3>
      <p>Making people aware. Safe Shoppping!</p>
      <div class="credits">
        Designed by <a href="https://www.linkedin.com/in/aditya-jain-479b96157/">Aditya jain</a>
      </div>
    </div>
  </footer><!-- End Footer -->

</body>
</html>