* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #ffffff;
}

.mainContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  max-width: 1250px;
}

.Evey {
  font-size: 1.5rem;
  color: black;
  margin-left: 20px;
}

.container {
  border-radius: 5px;
  padding: 0.3rem;
  background-color: #ffffff;
  display: grid;
  grid-template: repeat(9, 50px) / repeat(9, 50px);
  grid-gap: 3px;
  border: 2px solid black;
}

.right {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  background: #d8d8d8;
  width: 200px;
  font-size: 1.3rem;
  border-radius: 1rem;
  border: 2px solid black;
}

.right button {
  border: 2px solid black;
  color: black;
  background: #f2f2f2;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
}

.right #gameScorePara {
  margin-bottom: 0.8rem;
}

.right #gameResultPara {
  margin-top: 0.8rem;
}

.cell {
  border-radius: 3px;
  background-color: #d8d8d8;
  cursor: pointer;
}

.safe {
  background-color: #2dcc70;
}

.containBomb {
  background-color: red;
}

@media only screen and (max-width: 750px) {
  .mainContainer {
    flex-direction: column;
  }
}

@media only screen and (max-width: 510px) {
  .container {
    grid-template: repeat(9, 40px) / repeat(9, 40px);
  }
}

@media only screen and (max-width: 410px) {
  .container {
    grid-template: repeat(9, 30px) / repeat(9, 30px);
  }
}
