<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Error {{error}}</h1>
            <p class="lead">An errror occurred, please try again</p>
            <div class="row mt-5 d-flex justify-content-center">
                <a role="button" class="btn btn-lg btn-outline-info" href="/">Home page</a>
            </div>
        </div>
    </div>
</body>
</html>
